<div class="row-fluid">
    <h3>Printer Communication Events</h3>
    <button class="btn btn-block control-box" data-bind="click: connecting">Connecting</button>
    <button class="btn btn-block control-box" data-bind="click: connected">Connected</button>

    <button class="btn btn-block control-box" data-bind="click: disconnecting">Disconnecting</button>
    <button class="btn btn-block control-box" data-bind="click: disconnected">Disconnected</button>

        <button class="btn btn-block control-box" data-bind="click: error">Error</button>
        <!-- Need state_id and state_string -->
        <button class="btn btn-block control-box" data-bind="click: printerStateChanged">PrinterStateChanged</button>

</div>

<div class="row-fluid">
    <h3>Printing Events</h3>
    <button class="btn btn-block control-box" data-bind="click: printStarted">PrintStarted</button>
    <button class="btn btn-block control-box" data-bind="click: printFailed">PrintFailed</button>
    <button class="btn btn-block control-box" data-bind="click: printDone">PrintDone</button>
    <button class="btn btn-block control-box" data-bind="click: printCancelled">PrintCancelled</button>
    <button class="btn btn-block control-box" data-bind="click: printPaused">PrintPaused</button>
    <button class="btn btn-block control-box" data-bind="click: printResumed">PrintResumed</button>



</div>
